.jumbotron {
	height: 100%;
	background-size: cover;
	background-position-y: 100%;
	padding: 0px;
	&--vertical-center { // Flexbox solution for vertical aligning
	display: flex;
	align-items: center;
	text-align: center;
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one.      */
	display: flex;
	align-items: center;
	}
	&__title {
		width: 100%;
		font-size: 2.5rem;
		letter-spacing: 4px;
	}
	&__downarrow {
		font-size: 3rem;
		color: $color-black;
		display:block;
  		position:absolute;
  		width:50px;
  		height:25px;
  		left:50%;
  		margin-left:-25px;
  		bottom:100px;
  		opacity: 0;
		animation: arrowdown 2s ease-in-out infinite;
		animation-delay: 3s;
	}

}

/*animated scroll arrow animation*/
@-webkit-keyframes arrowdown {
  0%   { -webkit-transform:translate(0,0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,40px); opacity: 0; }
}
@-moz-keyframes arrowdown {
  0%   { -moz-transform:translate(0,0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,40px); opacity: 0; }
}
@keyframes arrowdown {
  0%   { transform:translate(0,0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,40px); opacity: 0; }
}