.jumbotron {
	height: 100%;
	background-size: cover;
	background-position-y: 100%;
	padding: 0px;
	&--vertical-center { // Flexbox solution for vertical aligning
	  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	  min-height: 100vh; /* These two lines are counted as one.      */
	  display: flex;
	  align-items: center;
	}
	&__title {
		width: 100%;
		font-size: 2.5rem;
	}
	&__downarrow {
		position: fixed;
	    z-index: 500;
	    -webkit-transition: opacity 0.3s 1.7s, z-index 0.5s 1.5s, -webkit-transform 0.5s 1.5s;
	    transition: opacity 0.3s 1.7s, z-index 0.5s 1.5s, -webkit-transform 0.5s 1.5s;
	    transition: transform 0.5s 1.5s, opacity 0.3s 1.7s, z-index 0.5s 1.5s;
	    transition: transform 0.5s 1.5s, opacity 0.3s 1.7s, z-index 0.5s 1.5s, -webkit-transform 0.5s 1.5s;
	    font-size: 3rem;
	    font-family: ptsans-regular;
	    text-transform: uppercase;
	    bottom: 8rem;
	    left: calc(50% - 15rem);
	    color: #fff;
	    width: 30rem;
	    text-align: center;
	}

}