<section class="homepage-section js-up container">
  <div class="row">
    <div class="col-xs-12 hidden-md hidden-lg hidden-sm">
       <h1 class="homepage-section__mobile-title">
            <a href="{{site.baseurl}}/shop/newin/">
                SS2015 Gyvybės vanduo
            </a>
        </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mobile-padding">
        <div>
            <img class="img-responsive homepage-section__img" src="{{site.baseurl}}/img/photo23.jpg"></img>
        </div>
        <div class="row">
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4 text-center hidden-sm hidden-md hidden-lg">
            <a class="see-more" href="#">
                See More
            </a>
          </div>
          <div class="col-xs-4">
          </div>
        </div>
    </div>
    <div class="col-sm-3 hidden-xs">
        <img class="img-responsive homepage-section__img" src="{{site.baseurl}}/img/photo25.jpg"></img>
    </div>
    <div class="col-sm-5 hidden-xs">
        <h1 class="hidden-xs homepage-section__desktop-title homepage-section__desktop-title--textright homepage-section__desktop-title--moveright">
              <a href="{{site.baseurl}}/shop/newin/">
                SS2015<br>
                Gyvybės vanduo
              </a>
        </h1>
        <div>
            <img class="img-responsive homepage-section__img homepage-section__img--margintop-big" src="{{site.baseurl}}/img/photo11.jpg"></img>
        </div>
        <div class="row homepage-section__middle-container__bottom-images">
            <div class="col-xs-6">
                <img class="img-responsive homepage-section__img" src="{{site.baseurl}}/img/photo15.jpg"></img>
            </div>
            <div class="col-xs-6">
                <img class="img-responsive homepage-section__img" src="{{site.baseurl}}/img/photo14.jpg"></img>
            </div>
        </div>
    </div> 
  </div> 
</section>
