<section class="homepage-content container">
  <div class="row">
    <div class="col-xs-12 hidden-md hidden-lg hidden-sm">
       <div class="content-title">
            <a class="font-xxl">
              <span class="font-xxxl">
                Winter Hats
              </span>
                2014/2015
            </a>
        </div>
    </div>
    <div class="col-sm-5 mobile-padding">
        <div>
            <img class="img-responsive" src="{{site.baseurl}}/img/photo19.jpg"></img>
        </div>
        <div class="row sub-content">
            <div class="col-xs-6">
                <img class="img-responsive" src="{{site.baseurl}}/img/photo18.jpg"></img>
            </div>
            <div class="col-xs-6">
                <img class="img-responsive" src="{{site.baseurl}}/img/photo22.jpg"></img>
            </div>
        </div>
    </div>
    <div class="col-sm-3 hidden-xs">
        <div class="content-title">
            <a class="font-xl">
              <span class="font-xxxl">
                 Winter Hats
              </span>
              <br/>
               2014/2015
            </a>
        </div>
        <img class="img-responsive photo-middle" src="{{site.baseurl}}/img/photo20.jpg"></img>
    </div>
    <div class="col-sm-4 hidden-xs">
        <div>
            <img class="img-responsive" src="{{site.baseurl}}/img/photo21.jpg"></img>
        </div>
    </div> 
  </div> 
</section>