<section class="container-fluid product-view">
  <div class="main-title">
      <h1 class="text-right">
        <a href="#">
             SS2015
        <br>
        Gyvybės vanduo
        </a>
      </h1>
  </div>
  <div class="row js-hover">
    <div class="col-sm-4 js-hover">
      <div class="product">
        <h3 class="title">
          <a class="js-item-hover" href="#">
            Simple Snapback
          </a>
        </h3>
        <h4 class="btn-buy font-xxm">
          <a class="js-item-hover" href="#">
            See More
          </a>
        </h4>
        <img class="img-responsive" src="{{site.baseurl}}/img/photo23.jpg">
      </div>
    </div>
    <div class="col-sm-4 js-hover middle-margin">
      <div class="product">
        <h3 class="title">
          <a class="js-item-hover" href="#">
            Mist Hooded Sweatshirt
          </a>
        </h3>
        <h4 class="btn-buy font-xxm">
          <a class="js-item-hover" href="#">
            See More
          </a>
        </h4>
        <img class="img-responsive" src="{{site.baseurl}}/img/photo24.jpg">
      </div>
    </div>
    <div class="empty-space">
    </div>
    <div class="col-sm-4 js-hover">
      <div class="product">
        <h3 class="title">
          <a class="js-item-hover" href="#">
            Vapor Woman Shirt
          </a>
        </h3>
        <h4 class="btn-buy font-xxm">
          <a class="js-item-hover" href="#">
            See More
          </a>
        </h4>
        <img class="img-responsive" src="{{site.baseurl}}/img/photo11.jpg">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 js-hover">
      <div class="product">
        <h3 class="title">
          <a class="js-item-hover" href="#">
            Groundwater Coat
          </a>
        </h3>
        <h4 class="btn-buy font-xxm">
          <a class="js-item-hover" href="#">
            See More
          </a>
        </h4>
        <img class="img-responsive" src="{{site.baseurl}}/img/photo17.jpg">
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</section>