.filter-container {
    margin-top: 6rem;
    padding-left: 2rem;
}

.product-container {
    margin-top: 4rem;
    padding-top: 2.5rem;
    position: relative;
        h4 {
            margin-bottom: 0rem;
            position: absolute;
            top: 2%;
            left: 0%;
        }
        img {
            padding-right: 3rem;
        }
}




/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .filter-container {
        padding-left: 1rem;
    }
    .mobile-filter-container {
        .filters {
            padding-top: 1rem;
        }
    }
    .product-container {
        margin-top: 0;
        padding-top: 0rem;
        position: relative;
        h4 {
            position: initial;
            margin-bottom: 1rem;
            margin-top: 2rem;
            font-size: 1.5rem;
        }
        img {
            padding-right: 0rem;
        }
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    .filter-container {
        h2 {
            font-size: 1.7rem;
        }
        h3 {
            font-size: 1.3rem;
        }
    }

}

/* Large desktop */
@media (min-width: 1200px) { }
