<div class="menu-overlay">
    <div class="row text-center menu-overlay--100height js-menu-items">
        <div class="menu-overlay__table">
            <div class="menu-overlay__verticalalign">
                <div class="col-md-3">
                    <h3>
                        <a class="{% if page.url contains 'index' %}hover{%endif%}" href="{{site.baseurl}}/">
                            Home
                        </a>
                    </h3>
                </div>
                <div class="col-md-3">
                    <h3>
                        <a class="{% if page.layout == 'product' or page.layout == 'product_selection' %}hover{%endif%}" href="{{site.baseurl}}/shop/all/">
                            Shop
                        </a>
                    </h3>
                </div>
                <div class="col-md-3">
                     <h3>
                        <a class="{% if page.url contains 'about' %}hover{%endif%}" href="{{site.baseurl}}/about/about.html">
                            About Us
                        </a>
                    </h3>
                </div>
                <div class="col-md-3">
                      <h3>
                        <a class="{% if page.url contains 'contact' %}hover{%endif%}">
                            Contact Us
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div><!-- Dark menu overlay -->
</div>


<div class="container-fluid">
    <div class="row"> <!-- Top nav icons and logo are above the frame for z-index. I ensure it always will stay above everything even the frame animations. -->
            <div class="top-nav-icons">
        <div class="col-xs-3">
            <div href="#" class="button js-menu">
              <span class="sr">Toggle Navigation</span>
              <span class="menu-bar bar1"></span>
              <span class="menu-bar bar2"></span>
              <span class="menu-bar bar3"></span>
            </div>
        </div>
        <div class="col-xs-6 text-center">
            <a href="{{site.baseurl}}/" class="logo-nav">
                <h1 class="logo">
                        labàdienà
                </h1>
            </a>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
    </div>
        
    </div>
</div>


<div class="frame">
    <div class="top js-topBar">
    </div>
</div> <!-- the top frame. -->


