 <div class="container menu-container">
        <div class="row text-center vertical-center js-menu-items">
            <div class="col-md-3">
                <h3>
                    <a>
                            Campaign
                    </a>
                </h3>
            </div>
            <div class="col-md-3">
                <h3>
                    <a>
                            Collection
                    </a>
                </h3>
            </div>
            <div class="col-md-3">
                 <h3>
                    <a>
                            About Us
                    </a>
                </h3>
            </div>
            <div class="col-md-3">
                  <h3>
                    <a>
                            Stores
                    </a>
                </h3>
            </div>
        </div>
</div>