<div class="menu-container">
    <div class="row text-center menu-items js-menu-items">
        <div class="table-align">
            <div class="table-vertical-align">
                <div class="col-md-3">
                    <h3>
                        <a>
                                Campaign
                        </a>
                    </h3>
                </div>
                <div class="col-md-3">
                    <h3>
                        <a>
                                Collection
                        </a>
                    </h3>
                </div>
                <div class="col-md-3">
                     <h3>
                        <a>
                                About Us
                        </a>
                    </h3>
                </div>
                <div class="col-md-3">
                      <h3>
                        <a>
                                Stores
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div><!-- Dark menu overlay -->
</div>


<div class="container-fluid">
    <div class="row"> <!-- Top nav icons and logo are above the frame for z-index. I ensure it always will stay above everything even the frame animations. -->
            <div class="top-nav-icons">
        <div class="col-xs-3">
            <div href="#" class="button js-menu">
              <span class="sr">Toggle Navigation</span>
              <span class="menu-bar bar1"></span>
              <span class="menu-bar bar2"></span>
              <span class="menu-bar bar3"></span>
            </div>
        </div>
        <div class="col-xs-6">
            <h1 class="text-center logo">labàdienà</h1>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
    </div>
        
    </div>
</div>


<div class="frame">
    <div class="top js-topBar">
    </div>
</div> <!-- the top frame. -->


