 <div class="frame">
        <div class="left">
            <div class="hamburger-menu">
                <a class="js-menu">
                    Menu
                </a>
            </div>
        </div>
        <div class="right">
            
        </div>
        <div class="top">
            <h1 class="text-center logo">labàdienà</h1>
        </div>
</div>

<div class="menu-container">
    <div class="row text-center vertical-center js-menu-items">
        <div class="col-md-3">
            <h3>
                <a>
                        Campaign
                </a>
            </h3>
        </div>
        <div class="col-md-3">
            <h3>
                <a>
                        Collection
                </a>
            </h3>
        </div>
        <div class="col-md-3">
             <h3>
                <a>
                        About Us
                </a>
            </h3>
        </div>
        <div class="col-md-3">
              <h3>
                <a>
                        Stores
                </a>
            </h3>
        </div>
    </div>
</div>