.homepage-content {
    padding-top: 6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    .content-title {
        position: absolute;
        z-index: 999999;
        left: -40%;
        top: -5%;
        text-align: center;
        line-height: 3rem;
        a, span {
             font-family: $primary-font;
        }
        a {
            font-size: 3rem;
        }
        span {
           font-size: 3.5rem;
        }
        // test
        a:after {
          height: 5px;
          margin-top: 5px;
        }
        a:hover {
            &:after {
                width: 80%;
            }
        }
    }

    .main-title-2 {
        position: absolute;
        right: 8%;
        top: -30%;
        h1 {
            font-size: 3rem;
            text-align: right;
        }
    }

    .sub-content {
        margin-top: 2.5rem;
    }
    .photo-middle {
        margin-top: 16rem;
    }

    .photo-middle2 {
        margin-top: 10rem;
    }

    .photo-right {
        margin-top: 4rem;
    }
}


/* Landscape phones and down */
@media (max-width: 480px) { }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .homepage-content {
        padding-top: 2rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        .content-title {
            position: initial;
            a {
                font-size: 2rem;
            }
            span {
               font-size: 2.5rem;
            }
        }
        .see-more {
            padding-top: 1.5rem;
            display: block;
            font-size: 1.4rem;
            font-family: $primary-font;
        }
        .main-title-2 {
            h1 {
                text-align: none;
            }
        }
        .photo-right {
            margin-top: 0;
        }

        .photo-middle {
            margin-top: 1.5rem;
        }
        .sub-content {
            margin-top: 1.7rem;
        }
    }
    .mobile-padding {
        padding-top: 0rem;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .homepage-content {
        padding-top: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        .content-title {
            position: initial;
            a {
                font-size: 2rem;
            }
            span {
               font-size: 2.5rem;
            }
        }
        .main-title-2 {
            position: absolute;
            right: 8%;
            top: -30%;
            h1 {
                font-size: 2.2rem;
                text-align: none;
            }
        }

        .photo-middle {
            margin-top: 4rem;
        }
    }
}

/* Large desktop */
@media (min-width: 1200px) { }
