.content1 {
    padding-top: 10rem;
    .content-title {
        position: absolute;
        z-index: 999999;
        left: -40%;
        top: -5%;
        text-align: center;
        line-height: 5rem;
        a:after {
          height: 5px;
          margin-top: 5px;
        }
    }
    .sub-content {
        margin-top: 2.5rem;
    }
    .photo-middle {
        margin-top: 15rem;
    }

    img {
        &:hover {
            background-color: red;
        }
    }
}


/* Landscape phones and down */
@media (max-width: 480px) { }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .content1 {
        padding-top: 6rem;
        .content-title {
            left: 0;
        }
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .content1 {
        padding-top: 6rem;
    }
}

/* Large desktop */
@media (min-width: 1200px) { }
