.homepage-content {
    padding-top: 10rem;
    .content-title {
        position: absolute;
        z-index: 999999;
        left: -40%;
        top: -5%;
        text-align: center;
        line-height: 3rem;
        a, span {
             font-family: $primary-font;
        }
        a {
            font-size: 2.4rem;
        }
        span {
            1.5rem;
        }
        a:after {
          height: 5px;
          margin-top: 5px;
        }
        a:hover {
            &:after {
                width: 80%;
            }
        }
    }

    .main-title-2 {
        position: absolute;
        right: 8%;
        top: -30%;
        h1 {
            font-size: 3.5rem;
        }
    }

    .sub-content {
        margin-top: 2.5rem;
    }
    .photo-middle {
        margin-top: 15rem;
    }

    .photo-middle2 {
        margin-top: 10rem;
    }

    .photo-right {
        margin-top: 4rem;
    }
}


/* Landscape phones and down */
@media (max-width: 480px) { }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .content1 {
        padding-top: 6rem;
        .content-title {
            left: 0;
        }
    }

    .mobile-padding {
        padding-top: 6rem;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .content1 {
        padding-top: 6rem;
    }
}

/* Large desktop */
@media (min-width: 1200px) { }
