.filter-container {
    margin-top: 6rem;
    padding-left: 2rem;
}

.product-container {
    margin-top: 4rem;
    .product-items {
        margin-top: 2.5rem;
        position: relative;
        h4 {
            margin-bottom: 0rem;
            position: absolute;
            top: 2%;
            left: -10%;
        }
        img {
            padding-right: 3rem;
        }
    }
}




/* Landscape phones and down */
@media (max-width: 480px) { }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    .product-view {
        padding-left: 3rem;
        padding-right: 3rem;
        .product {
            margin-bottom: 2rem;
        }
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Large desktop */
@media (min-width: 1200px) { }
