.product-view {
    margin-top: 10rem;
    margin-bottom: 10rem;
    position: relative;
    .title {
        margin-top: 0rem;
        position: absolute;
        top: 5%;
        left: 0;
    }

    .btn-buy {
        position: absolute;
        right: 3rem;
        bottom: 0;

    }
}