h1,h2,h3,h4,h5 {
	font-family: $primary-font;
}

p, label {
	font-family: $secondary-font;
	color: $color-black;
	letter-spacing: 0.1px;
	margin: 0 0 5px;
}


.white {
	color: $color-white;
}

.grey {
  color: $color-grey;
}

.font-xs {
  font-size: $font-xs;
}

.font-s {
  font-size: $font-s;
}

.font-m {
  font-size: $font-m;
}

.font-mm {
  font-size: $font-mm;
}

.font-mmm {
  font-size: $font-mmm;
}


.font-xm {
  font-size: $font-xm;
}

.font-xxm {
  font-size: $font-xxm;
}

.font-l {
  font-size: $font-l;
}

.font-xl {
  font-size: $font-xl;
}

.font-xxl {
  font-size: $font-xxl;
}

.font-xxxl {
  font-size: $font-xxxl;
}

.font-xxxxxl {
	font-size: $font-xxxxxl;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  &.width-50 {
    width: 50%;
  }
  &.width-20 {
    width: 20%;
  }
}

