 <div class="col-sm-3 filter-container hidden-xs">
  <div style="max-width: 8rem;">
    <h2>
      Sort By:
    </h2>
    <h3>
      <a href="{{site.baseurl}}/shop/all.html">
        All
      </a>
    </h3>
    <h3>
      <a href="{{site.baseurl}}/shop/newin.html">
        New In
      </a>
    </h3>
    <h3>
      <a href="{{site.baseurl}}/shop/man.html">
        Man
      </a>
    </h3>
    <h3>
      <a href="{{site.baseurl}}/shop/woman.html">
        Woman
      </a>
    </h3>
    <h3>
      <a href="{{site.baseurl}}/shop/hats.html">
        Hats
      </a>
    </h3>
    <h3>
      <a href="{{site.baseurl}}/shop/sweaters.html">
        Sweaters
      </a>
    </h3>
    <h3>
      <a href="{{site.baseurl}}/shop/shirts.html">
        Shirts
      </a>
    </h3>
   <!--  <h3>
      <a href="{{site.baseurl}}/shop/accsesories.html">
        Accsesories
      </a>
    </h3> -->
  </div>
</div>