<div class="row visible-xs hidden-sm">
    <div class="col-xs-12 filter-container">
      <h4 class="text-center js-show-filters">
        Show Filters
      </h4>
    </div>
  </div>
  <div class="mobile-filter-container">
    <div class="row filters visible-xs hidden-sm">
      <div class="col-xs-3">
        <a href="{{site.baseurl}}/shop/all.html">
          All
        </a>
      </div>
      <div class="col-xs-3">
        <a href="{{site.baseurl}}/shop/newin.html">
          New In
        </a>
      </div>
      <div class="col-xs-3">
        <a href="{{site.baseurl}}/shop/man.html">
          Man
        </a>
      </div>
      <div class="col-xs-3">
        <a href="{{site.baseurl}}/shop/woman.html">
          Woman
        </a>
      </div>
    </div>
    <div class="row filters visible-xs hidden-sm">
      <div class="col-xs-3">
        <a href="{{site.baseurl}}/shop/hats.html">
          Hats
        </a>
      </div>
      <div class="col-xs-3">
        <a href="{{site.baseurl}}/shop/sweaters.html">
          Sweaters
        </a>
      </div>
       <div class="col-xs-3">
        <a href="{{site.baseurl}}/shop/shirts.html">
          Shirts
        </a>
      </div>
       <div class="col-xs-3">
      </div>
    </div>
  </div>