 <div class="col-sm-3 filter-container hidden-xs">
  <div style="max-width: 8rem;">
    <h2>
      Sort By:
    </h2>
    <h3>
      <a class="{% if page.url contains 'all' %}hover{%endif%}" href="{{site.baseurl}}/shop">
        All
      </a>
    </h3>
    <h3>
      <a class="{% if page.url contains 'newin' %}hover{%endif%}" href="{{site.baseurl}}/shop/new-in/">
        New In
      </a>
    </h3>
    <h3>
      <a class="{% if page.url contains 'man' %}hover{%endif%}" href="{{site.baseurl}}/shop/man/">
        Man
      </a>
    </h3>
    <h3>
      <a class="{% if page.url contains 'woman' %}hover{%endif%}" href="{{site.baseurl}}/shop/woman/">
        Woman
      </a>
    </h3>
    <h3>
      <a class="{% if page.url contains 'hats' %}hover{%endif%}" href="{{site.baseurl}}/shop/hats/">
        Hats
      </a>
    </h3>
    <h3>
      <a class="{% if page.url contains 'sweaters' %}hover{%endif%}" href="{{site.baseurl}}/shop/sweaters/">
        Sweaters
      </a>
    </h3>
    <h3>
      <a class="{% if page.url contains 'shirts' %}hover{%endif%}" href="{{site.baseurl}}/shop/shirts/">
        Shirts
      </a>
    </h3>
   <!--  <h3>
      <a href="{{site.baseurl}}/shop/accsesories.html">
        Accsesories
      </a>
    </h3> -->
  </div>
</div>