<div class="product__faq">
  <div class="js-q">
    <a class="product__faq__title">
      Where are the garments produced?
    </a>
    <span class="product__faq__caret right js-caret"></span>
    </h5>
    <p class='product__faq__paragraph'>
      All our  products and are produced in Lithuania. Only the finest materials are used and the quality of the products is guaranteed. 
    </p>
  </div>
<hr/>
  <div class="js-q">
    <a class="product__faq__title">
      What forms of payment do you accept?
    </a>
    <span class="product__faq__caret js-caret right"></span>
    <p class='product__faq__paragraph'>
       We gladly accept Visa, Mastercard, American Express, or regular account payments all through Paypal. Having Paypal account is unnecesessary, although if you already have one you may use it.  
    </p>
  </div>
  <hr/>
  <div class="q js-q">
    <a class="product__faq__title">
      How does shipping work?
    </a>
    <span class="product__faq__caret js-caret right"></span>
    <p class='product__faq__paragraph'>
      Orders will be shipped the next working day upon receipt. Shipping inside Lithuania is carried out by the Post24. Shipments are distributed through postal terminals. For list of terminals and more information visit www.post24.lt or contact us via email. Shipping outside Lithuania is carried out by the Lithuanian Post.   
    </p>
  </div>
<hr/>
  <div class="q js-q">
    <a class="product__faq__title">
      How does shipping shipping cost?
    </a><span class="product__faq__caret js-caret right"></span>
    <p class='product__faq__paragraph'>
      Shipping in Lithuania is free of charge.  For other countries charges depend on your location and are indicated automatically when choosing your country. All orders that are shipped outside of the EU could be subject to import duty and tax. Please contact your local customs office for further details of charges.
    </p>
  </div>
</div>