@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

@font-face {
	font-family: 'Spiral-Icons';
	src:url('/fonts/Spiral-Icons.eot?lcn7hs');
	src:url('/fonts/Spiral-Icons.eot?lcn7hs#iefix') format('embedded-opentype'),
		url('/fonts/Spiral-Icons.ttf?lcn7hs') format('truetype'),
		url('/fonts/Spiral-Icons.woff?lcn7hs') format('woff'),
		url('/fonts/Spiral-Icons.svg?lcn7hs#Spiral-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}