@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);


$primary-font: 'Georgia', serif;
$secondary-font: 'Open Sans', sans-serif;


$color-background: #f4f4f4;
$color-white: #ffffff;
$color-black: #1b1a1c;
$color-lightgrey: #b3b3b3;
$color-grey: #5e5e5f;
$color-lightbrown: #bf7546;

$color-black-trans-003: rgba(0,0,0,0.03);
$color-black-trans-01: rgba(0, 0, 0, 0.1);
$color-black-trans-015: rgba(0, 0, 0, 0.15);
$color-black-trans-02: rgba(0, 0, 0, 0.2);
$color-black-trans-03: rgba(0, 0, 0, 0.3);
$color-black-trans-04: rgba(0, 0, 0, 0.4);
$color-black-trans-05: rgba(0, 0, 0, 0.5);
$color-black-trans-06: rgba(0, 0, 0, 0.6);
$color-black-trans-07: rgba(0, 0, 0, 0.7);
$color-black-trans-08: rgba(0, 0, 0, 0.8);
$color-black-trans-09: rgba(0, 0, 0, 0.9);
$color-black-trans-010: rgba(0, 0, 0, 1);


$font-xs: 0.5rem;
$font-s: 0.86rem;
$font-m: 1rem;
$font-mm: 1.2rem;
$font-mmm: 1.35rem;
$font-xm: 1.5rem;
$font-xxm: 1.75rem;
$font-l: 2rem;
$font-xl: 2.4rem;
$font-xxl: 2.7rem;
$font-xxxl: 4rem;
$font-xxxxl: 7rem;
$font-xxxxxl: 9rem;
