<section class="about-section js-up container">
  <div class="row">
    <div class="col-xs-12 hidden-md hidden-lg hidden-sm">
       <h1 class="about-section__mobile-title">
            <a href="{{site.baseurl}}/shop/newin/">
                SS2015 Gyvybės vanduo
            </a>
        </h1>
    </div>
  </div>
  <div class="row">
     <div class="col-sm-8 hidden-xs">
        <h3>
          Spreading the word
        </h3>
        <p class="about-section__content">
          It all started from one positive word. We've made some stickers and posters just with word labadiena and spread them around Vilnius old town. In the beginning our main goal was to lift up peoples positivity and remind them that one simple word can be enough to make someone smile.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <img class="img-responsive about-section__img about-section__img--margintop-small" src="{{site.baseurl}}/img/about-4.jpg"></img>
          </div>
          <div class="col-sm-6">
            <img class="img-responsive about-section__img about-section__img--margintop-small" src="{{site.baseurl}}/img/about-2.jpg"></img>
            <div class="row about-section__middle-container__bottom-images">
              <div class="col-xs-6">
                <img class="img-responsive about-section__img" src="{{site.baseurl}}/img/about-3.jpg"></img>
              </div>
              <div class="col-xs-6">
                <img class="img-responsive about-section__img" src="{{site.baseurl}}/img/about-5.jpg"></img>
              </div>
            </div>
          </div>
        </div>
    </div> 
    <div class="col-sm-4 mobile-padding">
        <div>
            <img class="img-responsive about-section__img" src="{{site.baseurl}}/img/about-1.jpg"></img>
        </div>
        <div class="row">
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4 text-center hidden-sm hidden-md hidden-lg">
            <a class="see-more" href="#">
                See More
            </a>
          </div>
          <div class="col-xs-4">
          </div>
        </div>
    </div>
  </div> 
</section>
