<section class="homepage-section js-up container">
  <div class="row">
    <div class="col-xs-12 hidden-md hidden-lg hidden-sm">
       <h1 class="homepage-section__mobile-title  hidden-sm">
              <a href="{{site.baseurl}}/shop/hats/">
                It all started from one positive word. We've made some stickers and posters just with word labadiena and spread them around Vilnius old town. In the beginning our main goal was to lift up peoples positivity and remind them that one simple word can be enough to make someone smile.
              </a>
        </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 mobile-padding">
        <img class="img-responsive homepage-section__img" src="{{site.baseurl}}/img/photo19.jpg"></img>
        <div class="row homepage-section__middle-container__bottom-images">
            <div class="col-xs-6">
                <img class="img-responsive homepage-section__img" src="{{site.baseurl}}/img/photo18.jpg"></img>
            </div>
            <div class="col-xs-6">
                <img class="img-responsive homepage-section__img" src="{{site.baseurl}}/img/photo22.jpg"></img>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4 text-center hidden-sm hidden-md hidden-lg">
            <a class="see-more" href="#">
                See More
            </a>
          </div>
          <div class="col-xs-4">
          </div>
        </div>
    </div>
    <div class="col-sm-3 hidden-xs">
        <img class="img-responsive homepage-section__img homepage-section__img--margintop-big" src="{{site.baseurl}}/img/photo20.jpg"></img>
    </div>
    <div class="col-sm-4 hidden-xs">
        <div>
            <img class="img-responsive homepage-section__img" src="{{site.baseurl}}/img/photo21.jpg"></img>
        </div>
    </div> 
  </div> 
</section>