<div class="container story">
  <div class="row">
    <div class="col-sm-5">
      <h1 class="story__title">
        Our Story
      </h1>
    </div>
    <div class="col-sm-2 story--centermobile">
      <h1 class="story__middlea">
        à
      </h1>
      <p class="story__middlep">
        "labàdienà" in lithuanian is a polite way to say hello, more like - good day!
      </p>
    </div>
    <div class="col-sm-5">
      <p class="story__rightcontent">
        labàdienà is an initiative which promotes nature friendly environment as well as pleasant and effortless communication. Expressing our ideas through our products we seek to involve individuals with common attitude towards the positive movement.
      </p>
    </div>
  </div>
</div>
