<div class="container spreadingword js-up">
  <div class="col-sm-4">
    <h3>
      Spreading the word
    </h3>
    <p>
      It all started from one positive word. We've made some stickers and posters just with word labadiena and spread them around Vilnius old town. In the beginning our main goal was to lift up peoples positivity and remind them that one simple word can be enough to make someone smile.
    </p>
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive spreadingword__leftimg" src="{{site.baseurl}}/img/about-5.jpg"></img>
      </div>
      <div class="col-md-6">
        <img class="img-responsive spreadingword__leftimg" src="{{site.baseurl}}/img/about-15.jpg"></img>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <img class="img-responsive spreadingword__img" src="{{site.baseurl}}/img/about-2.jpg"></img>
      <img class="img-responsive spreadingword__img hidden-xs" src="{{site.baseurl}}/img/about-1.jpg"></img>
  </div>
  <div class="col-sm-4">
    <img class="img-responsive spreadingword__img hidden-xs" src="{{site.baseurl}}/img/about-4.jpg"></img>
  </div>
</div>