<div class="container today">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 text-center">
      <h1>
        Fast forward to today
      </h1>
      <p>
        Our main goal is to spread positivity. We're trying to think and act broader over time. In some cases goals and ideas have to grow and adapt to different fields of interest. It is always fun to step out from your comfort zone and discover new stuff outside the box, it encourages us to create something more than clothing.
      </p>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <img class="img-responsive today__img" src="{{site.baseurl}}/img/about-10.jpg"></img>
    </div>
    <div class="col-sm-4">
      <img class="img-responsive today__img" src="{{site.baseurl}}/img/about-11.jpg"></img>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <img class="img-responsive today__img" src="{{site.baseurl}}/img/about-12.jpg"></img>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <img class="img-responsive today__img" src="{{site.baseurl}}/img/about-13.jpg"></img>
    </div>
    <div class="col-sm-4">
      <img class="img-responsive today__img" src="{{site.baseurl}}/img/about-14.jpg"></img>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>







