---
layout: default
---


<div class="product-selection container m-3rem-t">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 no-padding-lg">
      {% include shop/slider.html %}
    </div>
    <div class="col-md-4 right-container">
      <div class="right-inner-container">
        <h2>
          {{page.title}}
        </h2>
        <h4>
         {{page.price}}
        </h4>
        <p>
        {{page.description}}
        </p>
      <hr/>
        <div class="row">
          <div class="col-md-6">
            {% include shop/sizes.html %}
          </div>
          <div class="col-md-6">
            <button class="btn default fill padding-05 width-100">
              Add to Bag
            </button>
          </div>
        </div>
      <hr/>
      {% include shop/product_faq.html %}
    </div>  <!-- end of right-inner-container -->    
  </div> <!-- end of col-md-4 --> 
</div>
</div>
