---
layout: default
---


<section class="container-fluid">
  {% include shop/filter_mobile.html %}
  <div class="row">
    {% include shop/filter_desktop.html %}
    <div class="col-sm-9 col-xs-12 product-container">
      <div class="row">
        {% for post in site.posts %}
          {% if post.filter contains page.categories %}
            <div class="col-sm-6 js-up js-hover">
              <div class="js-hover">
                <h4 class="visible-xs hidden-sm">
                    <a href="{{site.baseurl}}{{post.url}}">
                      {{post.title}} 
                    </a>
                </h4>
                <a href="{{site.baseurl}}{{post.url}}" class="img">
                   <img class="img-responsive" src="{{post.image1}}">
                </a>
                <h4 class="hidden-xs">
                  <a href="{{site.baseurl}}{{post.url}}">
                    {{post.title2}}
                  </a>
                </h4>
              </div>
            </div>
          {% endif %} 
        {% endfor %}
      </div>
    </div>
  </div>
</section>
