<section class="container-fluid animated fadeInUpBig">
  <div class="row visible-xs hidden-sm">
    <div class="col-xs-12 filter-container">
      <h4 class="text-center js-show-filters">
        Show Filters
      </h4>
    </div>
  </div>
  <div class="mobile-filter-container">
    <div class="row filters visible-xs hidden-sm">
      <div class="col-xs-3">
        <p class="text-left">
          New In
        </p>
      </div>
      <div class="col-xs-3">
        <p class="text-left">
          Man
        </p>
      </div>
      <div class="col-xs-3">
        <p class="text-left">
          Woman
        </p>
      </div>
      <div class="col-xs-3">
        <p class="text-left">
          Hats
        </p>
      </div>
    </div>
  <div class="row filters visible-xs hidden-sm">
    <div class="col-xs-3">
      <p class="text-left">
        Hats
      </p>
    </div>
    <div class="col-xs-3">
      <p class="text-left">
        Sweaters
      </p>
    </div>
     <div class="col-xs-3">
      <p class="text-left">
        Shirts
      </p>
    </div>
     <div class="col-xs-3">
      <p class="text-left">
        Accesories
      </p>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-3 filter-container hidden-xs">
      <div style="max-width: 8rem;">
      <h2>
        Sort By:
      </h2>
      <h3>
        <a href="#">
          New In
        </a>
      </h3>
      <h3>
        <a href="#">
          Man
        </a>
      </h3>
      <h3>
        <a href="#">
          Woman
        </a>
      </h3>
      <h3>
        <a href="#">
          Hats
        </a>
      </h3>
      <h3>
        <a href="#">
          Sweaters
        </a>
      </h3>
      <h3>
        <a href="#">
          Shirts
        </a>
      </h3>
      <h3>
        <a href="#">
          Accsesories
        </a>
      </h3>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12 product-container">
      <div class="row">
        {% for product in site.categories.new %}
          <div class="col-sm-6 1st-column js-hover">
            <div class="product-items js-hover">
              <h4 class="visible-xs hidden-sm">
                  <a href="#">
                    {{product.title}}
                  </a>
              </h4>
              <a href="#" class="img">
                 <img class="img-responsive" src="{{product.thumbimage}}">
              </a>
              <h4 class="hidden-xs">
                <a href="#">
                  {{product.title2}}
                </a>
              </h4>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>