<div class="product-selection container m-3rem-t">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 no-padding-lg">
      <ul id="lightSlider">
        <li data-thumb="{{site.baseurl}}/img/photo16.jpg">
          <img class="img-responsive" src="{{site.baseurl}}/img/photo16.jpg" />
        </li>
        <li data-thumb="{{site.baseurl}}/img/photo17.jpg">
          <img class="img-responsive" src="{{site.baseurl}}/img/photo17.jpg" />
        </li>
        <li data-thumb="{{site.baseurl}}/img/photo27.jpg">
          <img class="img-responsive" src="{{site.baseurl}}/img/photo27.jpg" />
        </li>
        <li data-thumb="{{site.baseurl}}/img/photo28.jpg">
          <img  src="{{site.baseurl}}/img/photo28.jpg" />
        </li>
      </ul>
    </div>
    <div class="col-md-4 fs-container">
        <div class="fs-container">
              <h2>
              Navy Blue Coat
              <br>
              $250
            </h2>
            <p>
              Disrupt single-origin coffee meditation, ugh direct trade drinking vinegar PR&B wolf pour-over organic butcher asymmetrical polaroid shabby chic church-key. Kale chips sartorial before they sold out deep pickled, meditation letterpress Kickstarter. 
            </p>
            <div class="boxes">
              <a href="#">
                <span>
                  XS
                </span>
              </a>
              <a href="#">
                <span>
                  S
                </span>
              </a>
              <a href="#">
                <span>
                  M
                </span>
              </a>
              <a href="#">
                <span>
                  L
                </span>
              </a>
              <a href="#">
                <span>
                  XL
                </span>
              </a>
            </div>
            <div class="custom-dropdown">
              <button class="select-button padding-1 border-black width-100">
                 Darkblue<span class="caret"></span>
              </button>
              <div class="dropdown-container">
                <ul class="dropdown-menu-custom">
                  <li>
                    Lightgray
                  </li>
                  <li>
                    Lightgray
                  </li>
                  <li>
                    Lightgray
                  </li>
                </ul>
              </div>
            </div> 
            <div class="custom-dropdown">
              <button class="select-button padding-1 border-black width-100">
                 Darkblue<span class="caret"></span>
              </button>
              <div class="dropdown-container">
                <ul class="dropdown-menu-custom">
                  <li>
                    Lightgray
                  </li>
                  <li>
                    Turquos
                  </li>
                  <li>
                    Blue
                  </li>
                </ul>
              </div>
            </div> 
            <div class="custom-dropdown">
              <button class="select-button padding-1 border-black width-100">
                 Type<span class="caret"></span>
              </button>
              <div class="dropdown-container">
                <ul class="dropdown-menu-custom">
                  <li>
                    Skinny
                  </li>
                  <li>
                    OMG
                  </li>
                  <li>
                    You so cool
                  </li>
                </ul>
              </div>
            </div> 
            <button class="btn call-to-action width-100">
              Add to Bag
            </button>
            </div>    
          </div>  
        </div>
    </div>
  </div>
</div>