<section class="container product-view">
  <div class="row">
    <div class="col-sm-4 ">
      <h4 class="title">
        <a href="#">
          Simple Snapback
        </a>
      </h4>
      <h3 class="btn-buy font-l">
        <a href="#">
          See More
        </a>
      </h3>
      <img class="img-responsive" src="{{site.baseurl}}/img/photo1.jpg">
    </div>
    <div class="col-sm-4">
      <h4 class="title">
        <a href="#">
          Mist Hooded Sweatshirt
        </a>
      </h4>
      <h3 class="btn-buy font-l">
        <a href="#">
          See More
        </a>
      </h3>
      <img class="img-responsive" src="{{site.baseurl}}/img/photo15.jpg">
    </div>
    <div class="col-sm-4">
      <h4 class="title">
        <a href="#">
          Vapor Woman Shirt
        </a>
      </h4>
      <h3 class="btn-buy font-l">
        <a href="#">
          See More
        </a>
      </h3>
      <img class="img-responsive" src="{{site.baseurl}}/img/photo11.jpg">
    </div>
  </div>
</section>