<div class="product-selection container m-3rem-t">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 no-padding-lg">
      <ul id="lightSlider">
        <li data-thumb="{{site.baseurl}}/img/photo16.jpg">
          <img class="img-responsive" src="{{site.baseurl}}/img/photo16.jpg" />
        </li>
        <li data-thumb="{{site.baseurl}}/img/photo17.jpg">
          <img class="img-responsive" src="{{site.baseurl}}/img/photo17.jpg" />
        </li>
        <li data-thumb="{{site.baseurl}}/img/photo27.jpg">
          <img class="img-responsive" src="{{site.baseurl}}/img/photo27.jpg" />
        </li>
        <li data-thumb="{{site.baseurl}}/img/photo28.jpg">
          <img  src="{{site.baseurl}}/img/photo28.jpg" />
        </li>
      </ul>
    </div>
    <div class="col-md-4 right-container">
      <div class="right-inner-container">
              <h2>
                Navy Blue Coat
              </h2>
              <h4>
                 €150
              </h4>
            <p>
              Disrupt single-origin coffee meditation, ugh direct trade drinking vinegar PR&B wolf pour-over organic butcher asymmetrical polaroid shabby chic church-key. Kale chips sartorial before they sold out deep pickled, meditation letterpress Kickstarter. 
            </p>
            <hr/>
           

    
            <div class="row">
              <div class="col-md-6">
                <div class="custom-dropdown">
              <button class="btn default padding-05 width-100">
                Select Size<span class="caret"></span>
              </button>
              <div class="dropdown-container">
                <ul class="dropdown-menu-custom">
                  <li> S - Small </li>
                  <li> M - Medium </li>
                  <li> L - Large </li>
                  <li> XL - Extra Large </li>
                </ul>
              </div>
            </div>
              </div>
              <div class="col-md-6">
                <button class="btn default fill padding-05 width-100">
                  Add to Bag
                </button>
              </div>
            </div>
            <hr/>
            <div class="faq">
              <div class="q js-q">
                <h5>
                  <a>
                    Where are the garments produced?
                  </a>
                  <span class="caret right js-caret"></span>
                </h5>
                <p class='js-a'>
                  All our  products and are produced in Lithuania. Only the finest materials are used and the quality of the products is guaranteed. 
                </p>
              </div>
              <hr/>
              <div class="q js-q">
                <h5>
                  <a>
                    What forms of payment do you accept?
                  </a>
                   <span class="caret right"></span>
                </h5>
                <p class='js-a'>
                   We gladly accept Visa, Mastercard, American Express, or regular account payments all through Paypal. Having Paypal account is unnecesessary, although if you already have one you may use it.  
                </p>
              </div>
              <hr/>
              <div class="q js-q">
                <h5>
                  <a>
                    How does shipping work?
                  </a>
                  <span class="caret right"></span>
                </h5>
                <p class='js-a'>
                  Orders will be shipped the next working day upon receipt. Shipping inside Lithuania is carried out by the Post24. Shipments are distributed through postal terminals. For list of terminals and more information visit www.post24.lt or contact us via email. Shipping outside Lithuania is carried out by the Lithuanian Post.   
                </p>
              </div>
              <hr/>
              <div class="q js-q">
                <h5>
                  <a>
                    How does shipping shipping cost?
                  </a><span class="caret right"></span>
                </h5>
                <p class='js-a'>
                  Shipping in Lithuania is free of charge.  For other countries charges depend on your location and are indicated automatically when choosing your country. All orders that are shipped outside of the EU could be subject to import duty and tax. Please contact your local customs office for further details of charges.
                </p>
              </div>
            </div>
      </div>    
    </div>  
  </div>
</div>
